@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400');

html {
  width: 100%;
}
/* centred body */
body {
    margin: 0 auto;
    max-width: 750px;
    padding: 1em;
    color: #3A4145;
}

/* Merriweather font for bodies */
a,
p,
li{
    font-family: "Merriweather", sans-serif;
    line-height: 1.65em;
    font-size: 1.1em;
    font-weight: 300;
    text-rendering: geometricPrecision;
    text-decoration: none;
    color: inherit;
    word-wrap: break-word;
}

/* get rid of that nasty blue for links */
a:link,
a:visited {
    color: #27ae60;
}

/* Lato font for headings */
h1,
h2,
h3 {
    font-family: "Lato", sans-serif;
    margin: 32px 0 16px 0;
}

/* remove top margin from the heading, gives us consistent padding */
h1:first-of-type {
    margin-top: 0px;
}

/* make heading sizes larger and more readable */
h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

/* helper for centred links */
.centered-text {
    text-align: center;
}

pre, code {
    font-family: monospace;
    line-height: 1.65em;
    font-size: 1.1em;
    padding: 2em;

}

hr {
  border: 1px solid #efefef;

}

table, th, td {
  border: 1px solid #efefef;
}

th, td {
  padding: 1em;

}

pre {
  border-radius: 5px;
  border: 1px solid #E3EDF3;
  background-color: #F7FAFB;
  tab-size: 4;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

/* media query to add top margin for screens larger than tablets */
@media (min-width: 750px) {
    body {
        margin-top: 4em;
    }
}
